{# accounts/templates/accounts/agency_info.html #}
{% extends 'accounts/base_agency.html' %}
{% load static %}

{% block main_content %}

         {# Sidebar #}
  
  
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Manage Service Providers</h1>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {# Register Service Provider Form #}
            <h2>Register New Service Provider</h2>
            <form method="post">
                {% csrf_token %}
                {{ provider_form.as_p }}
                <button type="submit" class="btn btn-primary" name="register_provider">Register</button>
            </form>

            {# Existing Service Providers #}
            <h2>Existing Service Providers</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for provider in service_providers %}
                        <tr>
                            <td>{{ provider.name }}</td>
                            <td>{{ provider.balance }}</td>
                            <td>
                                <a href="{% url 'providers:service_provider_detail' agency_pk=agency.pk provider_pk=provider.pk %}" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
{% endblock %}
