
{# accounts/templates/accounts/agency_info.html #}
{% extends 'accounts/base_agency.html' %}
{% load static %}

{% block main_content %}


       
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Service Provider Details</h1>
            </div>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <h2>Provider Information</h2>
            <p><strong>Name:</strong> {{ provider.name }}</p>
            <p><strong>Description:</strong> {{ provider.description }}</p>
            <p><strong>Balance:</strong> {{ provider.balance }}</p>

            {# Deposit Form #}
            <h2>Deposit Funds</h2>
            <form method="post">
                {% csrf_token %}
                {{ deposit_form.as_p }}
                <button type="submit" class="btn btn-primary">Deposit</button>
            </form>

            <a href="{% url 'providers:service_provider_list' agency.pk %}" class="btn btn-secondary">Back to Service Providers</a>


{% endblock %}
