{# accounts/templates/accounts/agency_kyc.html #}
{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    {# Sidebar #}
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="position-sticky pt-3">
        {% if agency.logo %}
          <img src="{{ agency.logo.url }}" alt="{{ agency.agency_name }} Logo" class="img-fluid rounded-circle mb-3">
        {% else %}
          <p>No logo uploaded</p>
        {% endif %}

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:agency_detail' agency.pk %}">
              <i class="fas fa-chart-bar"></i> Agency Statistics
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:agency_info' agency.pk %}">
              <i class="fas fa-info-circle"></i> Agency Information
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'accounts:agency_kyc' agency.pk %}">
              <i class="fas fa-file-alt"></i> KYC Documents
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:agent_list' agency.pk %}">
              <i class="fas fa-users"></i> Manage Agents
            </a>
          </li>
        </ul>
      </div>
    </nav>

    {# Main Content - KYC Documents #}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">KYC Documents</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>

      <h2>KYC Documents</h2>
      <ul>
        {% for doc in kyc_documents %}
        <li>
          {{ doc.document_name }} - <a href="{{ doc.document_file.url }}">Download</a>
        </li>
        {% endfor %}
      </ul>

      <h3>Upload New KYC Document</h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ kyc_form.as_p }}
        <button type="submit" class="btn btn-primary">Upload KYC Document</button>
      </form>

    </main>
  </div>
</div>
{% endblock %}
