{# accounts/templates/accounts/agency_info.html #}
{% extends 'accounts/base_agency.html' %}
{% load static %}

{% block main_content %}

    {# Main Content - Agency Information Form #}
 
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Agency Information</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>

      <h2>Update Agency Information</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ update_form.as_p }}
        <button type="submit" class="btn btn-primary">Update Agency</button>
      </form>

  
</div>
{% endblock %}
