{% extends 'accounts/base_agency.html' %}
{% load static %}

{% block main_content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Détails de l'Agent {{ agent.account.username }}</h1>
    <form method="post" class="d-flex align-items-center">
        {% csrf_token %}
        <div class="form-check form-switch me-2">
            <input class="form-check-input" type="checkbox" id="is_active" name="is_active"
                {% if agent.account.is_active %}checked{% endif %}>
            <label class="form-check-label me-2" for="is_active">Compte Actif</label>
        </div>
        <button type="submit" class="btn btn-primary">Mettre à Jour</button>
    </form>
</div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

{# Agent Statistics Cards #}
<div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    <div class="col">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header bg-black">Transactions Aujourd'hui</div>
            <div class="card-body">
                <h4 class="card-title">{{ today_transactions_count }}</h4>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-success mb-3">
            <div class="card-header bg-black">Dépôts Totaux</div>
            <div class="card-body">
                <h4 class="card-title">{{ total_deposit_amount }}</h4>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-white bg-warning mb-3">
            <div class="card-header bg-black">Retraits Totaux</div>
            <div class="card-body">
                <h4 class="card-title">{{ total_withdrawal_amount }}</h4>
            </div>
        </div>
    </div>
</div>

<h2>Transactions Récentes</h2>
{% if agent_transactions %}
<div class="table-responsive">
    <table id="transactionTable" class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Date</th>
                <th>Montant</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numero Piece</th>
                <th>Type</th>
                <th>Recepteur</th>
                <th>Envoyeur</th>
                <th>Agent</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in agent_transactions %}
            <tr>
                <td>{{ transaction.date_heure|date:'Y-m-d H:i'  }}</td>
                    <td>{{ transaction.montant }}</td>
                    <td>{{ transaction.nom }}</td>
                    <td>{{ transaction.prenom }}</td>
                    <td>{{ transaction.numero_piece }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.numero_recepteur }}</td>
                    <td>{{ transaction.numero_expediteur }}</td>
                    <td>{{ transaction.agent.account.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Aucune transaction récente trouvée pour cet agent.</p>
{% endif %}

{# DataTables Initialization #}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#transactionTable').DataTable({
            "paging": true,         // Enable pagination
            "lengthMenu": [10, 25, 50, 100],  // Customize the page length options
            "pageLength": 10,       // Set the initial page length
            "searching": true,      // Enable searching
            "ordering": true,       // Enable sorting
            "info": true,           // Show information about the table,
            "language": {             //Translate to French
                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/fr-FR.json"
            }
        });
    });
</script>

{% endblock %}
