{# accounts/templates/accounts/agency_kyc.html #}
{% extends 'accounts/base_agency.html' %}
{% load static %}

{% block main_content %}
 
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
     
      </div>

      <h2>KYC Documents</h2>
      <ul>
        {% for doc in kyc_documents %}
        <li>
          {{ doc.document_name }} - <a href="{{ doc.document_file.url }}">Download</a>
        </li>
        {% endfor %}
      </ul>

      <h3>Upload New KYC Document</h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ kyc_form.as_p }}
        <button type="submit" class="btn btn-primary">Upload KYC Document</button>
      </form>

{% endblock %}
