{# accounts/templates/accounts/agent_list.html #}
{% extends 'accounts/base_agency.html' %}
{% load static %}

{% block main_content %}
<div class=""> 

    <div class="row">
   
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <h1>Register New Agent for {{ agency.agency_name }}</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Register Agent</button>
  </form>

  <a href="{% url 'accounts:agency_detail' pk=agency.pk %}" class="btn btn-secondary">Back to Agency Details</a>
</div>
</div>
{% endblock %}
